<h3 class="text-center">All my sales</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% if (orders.length == 0) { %>
    <p class="text-center not-found">
      You don't have any sales yet. Maybe <a href="#/seller_products/new">add a product</a> to drive sales?
    </p>
    <% } else { %>
    <% orders.each(function (order) { %>
      <div class="well">

        <div class="row">
          <div class="col-xs-8">
            <% order.order_items().each(function (order_item) { %>
              <h5>
                (<%= order_item.escape("quantity") %>)
                <%= order_item.escape("product_name") %>
              </h5>
            <% }) %>
            <br>
            <h5>Ordered at <%= order.escape("ordered_at") %></h5>
          </div>

          <div class="col-xs-4 text-center">
            <h5>Buyer: </h5>
            <h5 style="color: green">
              <%= order.order_items().models[0].escape("buyer_name") %>
            </h5>
            <% if (order.escape("order_status") === "Placed") { %>
              <form>
                <input type="hidden" name='order[order_status_id]'
                id='order_order_status_id'
                value = 3 >
                <button
                  data-order-id="<%= order.id %>"
                  class="btn btn-primary shipped">Mark as shipped
                </button>
              </form>
            <% } else { %>
              <h5><%= order.escape("order_status") %></h5>
            <% } %>
          </div>

        </div>
      </div>
      <% }) %>
    <% } %>
  </div>
</div>
