<div class="shopping-cart">
  <% if (order_items.length == 0) { %>
  <p class="text-center">
    There are no items in your shopping cart.  Please
    <a href='#'>go back</a>
    and add some items to your cart.
  </p>
  <% } else { %>
    <div class="order-item"></div>

  <div class="col-xs-12 text-right">
    <h4 class="text-right">Subtotal: <span style="color: green">$<%= order.subtotal().toFixed(2) %></span></h4>
    <h4 class="text-right">Shipping: <span style="color: green">$<%= order.shipping().toFixed(2) %></span></h4>
    <h4 class="text-right">Tax: <span style="color: green">$<%= order.tax().toFixed(2) %></span></h4>
    <h3 class="text-right">Total: <span style="color: green">$<%= order.total().toFixed(2) %></span></h3>
    <form>
      <input type="hidden" name="order[subtotal]" value="<%= order.subtotal().toFixed(2) %>">
      <input type="hidden" name="order[shipping]" value="<%= order.shipping().toFixed(2) %>">
      <input type="hidden" name="order[tax]" value="<%= order.tax().toFixed(2) %>">
      <input type="hidden" name="order[total]" value="<%= order.total().toFixed(2) %>">
      <button class="btn btn-primary checkout">Checkout</button>
    </form>
  </div>
  <% } %>

</div>
