<% if !@order_item.nil? && @order_item.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <% if @order_items.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please
        <%= link_to "go back", products_url %>
        and add some items to your cart.
    </p>
  <% else %>
    <% @order_items.each do |order_item| %>
      <%= render 'carts/cart_row', product: order_item.product,
        order_item: order_item, show_total: true %>
    <% end %>
    <div class="col-xs-12">
      <h4 class="text-right">Subtotal: <span style="color: green"><%= number_to_currency @order.subtotal %></span></h4>
      <h4 class="text-right">Shipping: <span style="color: green"><%= number_to_currency @order.shipping %></span></h4>
      <h4 class="text-right">Tax: <span style="color: green"><%= number_to_currency @order.tax %></span></h4>
      <h3 class="text-right">Total: <span style="color: green"><%= number_to_currency @order.total %></span></h3>
    </div>
<% end %>
