<div class="well">
  <div class="row">
    <div class="col-xs-9">
      <img class="cart-image" src="<%= product.escape("product_image") %>"
      width="150" height="150">
      <h4><%= product.escape("name") %></h4>
      <p>by <a href="#/shops/<%= product.escape("shop_id") %>"><%= order_item.escape("shop_name") %> </a></p>
      <p><%= product.escape("description") %></p>
    </div>
    <div class="col-xs-3">
      <h4 class="text-right">Quantity: <span style="color: green">
      <%= order_item.escape("quantity") %></span></h4>
      <h4 class="text-right"><span style="color: green">
        <%= order.escape("order_status") %></span></h4>
    </div>
  </div>
</div>
