<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h5><%= product.escape("name") %></h5>
      <h5>Quantity: <%= order_item.escape("quantity") %></h5>
      <br>
      <h5>Ordered at <%= order.escape("ordered_at") %></h5>
    </div>

    <div class="col-xs-4 text-center">
      <h5>Buyer: </h5>
      <h5 style="color: green"><%= order_item.escape("buyer_name") %></h5>
      <h5><%= order.get("order_status") %></h5>
    </div>

  </div>
</div>
