<div class="well">
  <div class="row">
    <div class="col-xs-7">
      <img class="shop-image" src="<%= product.escape("product_image") %>"
      width="150" height="150">
      <h4><%= product.escape("name") %></h4>
      <p>by <a href="#/shops/<%= product.escape("shop_id") %>"><%= product.escape("shop_name") %> </a></p>
      <p><%= product.escape("description") %></p>
    </div>
    <div class="form"></div>
  </div>
</div>
