<div class="well product-well">
  <div class="row">
    <div class="col-xs-5">
      <img class="shop-image" src="<%= product.escape("product_image") %>"
      width="150" height="150">
      <div class="order-form"></div>
    </div>
    <div class="col-xs-7">
      <h4 class="product-name"><%= product.escape("name") %>
      </h4>
      <p>by <a href="#/shops/<%= product.escape("shop_id") %>">
        <%= product.escape("shop_name") %></a>
      </p>
      <div class="description-text"><%= product.escape("description") %></div>
      <p class="edit-product-link"></p>
    </div>
  </div>
</div>
