<div class="well">

  <div class="row">
    <div class="col-xs-7">
      <img class="shop-image" src="<%= product.product_image %>"
           width="150" height="150" >
      <h4><%= product.name %></h4>
      <p>by <%= link_to product.shop.name, shop_url(product.shop_id) %></p>
      <p><%= product.description %></p>
    </div>

    <div class="col-xs-5">
      <%= form_for order_item do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green">
        <%= number_to_currency product.price %></span></h4>
      <div class="input-group">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: 12 %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <% if product.shop.id != current_user.shop.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          <% else %>
            <%= f.submit "Add to Cart", class: "btn btn-primary", disabled: true %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
