<!DOCTYPE html>
<html>
<head>
  <title>EtsyClone</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= filepicker_js_include_tag %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script type="text/javascript">filepicker.setKey('<%= ENV["filepicker_api_key"] %>')</script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
